.card{
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    border:6px;
    border-color: black;
    border-style:solid; 
    margin-left: 60px;
    margin-bottom: 40px;
    float: none; 
    box-shadow: 15px 10px rgb(146, 144, 150);
}

h1{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin-left: 43%;
    padding-top: 30px;
    padding-bottom: 30px;
}

body{
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-wrap: wrap;
}

